In [5]:
#Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
season_one = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-0910.csv", parse_dates=['Date'])
season_two = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1011.csv", parse_dates=['Date'])   
season_three = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1112.csv", parse_dates=['Date'])
season_four = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1213.csv", parse_dates=['Date']) 
season_five = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1314.csv", parse_dates=['Date'])
season_six = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1415.csv", parse_dates=['Date'])
season_seven = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1516.csv", parse_dates=['Date']) 
season_eight = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1617.csv", parse_dates=['Date'])
season_nine = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1718.csv", parse_dates=['Date'])   
season_ten = pd.read_csv("https://datahub.io/sports-data/english-premier-league/r/season-1819.csv", parse_dates=['Date'])

In [17]:

allseasons = pd.concat([season_one,season_two,season_three,season_four,season_five,season_six,season_seven,season_eight,
                       season_nine, season_ten], sort = False)

In [8]:
def check_results(row):
    result = ""
    res = row['FTR']
    team1 = row['HomeTeam']
    team2 = row['AwayTeam']
    if (team1 == 'Arsenal') & (res == 'H'):
        result = 'W'
    elif (team1 == 'Arsenal') & (res == 'A'):
        result = 'L'
    elif (team2 == 'Arsenal') & (res == 'A'):
        result = 'W'
    elif (team2 == 'Arsenal') & (res == 'H'):
        result = 'L'
    else:
        result = 'D'       

    return result

In [9]:

def check_points(row):
    points = 0
    result = row['Result']
    if result == 'D':
        points = 1
    elif result == 'W':
        points = 3
    else:
        points = 0    
    return points

In [10]:
def check_season(row):
    season = ""
    date = row['Date']
    if (date >= pd.to_datetime('2009-08-15')) & (date <= pd.to_datetime('2010-05-21')):
        season += "09-10"
    elif (date >= pd.to_datetime('2010-08-10')) & (date <= pd.to_datetime('2011-05-23')):
        season += "10-11"
    elif (date >= pd.to_datetime('2011-08-13')) & (date <= pd.to_datetime('2012-05-23')):
        season += "11-12"
    elif (date >= pd.to_datetime("2012-08-18")) & (date <= pd.to_datetime("2013-05-19")): 
        season += "12-13" 
    elif (date >= pd.to_datetime("2013-08-17")) & (date <= pd.to_datetime("2014-05-11")): 
        season += "13-14" 
    elif (date >= pd.to_datetime("2014-08-16")) & (date <= pd.to_datetime("2015-05-24")): 
        season += "14-15" 
    elif (date >= pd.to_datetime("2015-08-08")) & (date <= pd.to_datetime("2016-05-15")): 
        season += "15-16" 
    elif (date >= pd.to_datetime("2016-08-13")) & (date <= pd.to_datetime("2017-05-21")): 
        season += "16-17" 
    elif (date >= pd.to_datetime("2017-08-11")) & (date <= pd.to_datetime("2018-05-13")):
        season += "17-18"
    elif (date >= pd.to_datetime("2018-08-05")) & (date <= pd.to_datetime("2019-05-20")):
        season += "18-19"
    else:
        season = season
    return season

In [11]:
allseasons.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
count,3800.000000,3800.000000,3800.000000,3800.000000,3800.000000,3800.000000,3800.000000,3800.000000,3800.000000,3800.000000,...,3790.000000,3790.000000,3790.000000,3790.000000,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000
mean,1.570526,1.180000,0.691579,0.522368,14.181316,11.229211,6.014211,4.763947,10.618684,11.133421,...,2.017617,1.945599,2.176433,2.076459,2.895605,4.227914,5.143571,2.928387,4.260192,5.154602
std,1.322363,1.160788,0.838739,0.735319,5.514299,4.687029,3.443571,2.891895,3.397368,3.580877,...,0.569617,0.468786,1.169098,0.912387,2.076326,1.346355,4.450499,2.135251,1.462231,4.474530
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,1.010000,1.010000,1.070000,1.050000,1.070000,2.950000,1.130000,1.070000,2.890000,1.120000
25%,1.000000,0.000000,0.000000,0.000000,10.000000,8.000000,3.000000,3.000000,8.000000,9.000000,...,1.850000,1.810000,1.880000,1.830000,1.680000,3.440000,2.420000,1.670000,3.410000,2.410000
50%,1.000000,1.000000,0.000000,0.000000,14.000000,11.000000,5.000000,4.000000,11.000000,11.000000,...,1.970000,1.910000,2.010000,1.950000,2.220000,3.710000,3.610000,2.250000,3.690000,3.580000
75%,2.000000,2.000000,1.000000,1.000000,17.000000,14.000000,8.000000,6.000000,13.000000,13.000000,...,2.100000,2.030000,2.130000,2.060000,3.200000,4.450000,5.780000,3.240000,4.480000,5.852500
max,9.000000,7.000000,5.000000,5.000000,43.000000,30.000000,24.000000,20.000000,24.000000,26.000000,...,13.000000,9.300000,21.580000,15.140000,21.510000,14.960000,42.940000,24.770000,15.000000,36.050000

# Statistical Summary
<ul>

<li> The home tram scores more goals on average </li>

</ul>

In [14]:
allseasons.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,E0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,1.28,1.22,4.40,3.99,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,2.58,2.38,1.60,1.54,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,1.68,1.61,2.33,2.23,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2009-08-15,Chelsea,Hull,2,1,H,1,1,D,...,1.03,1.02,17.05,12.96,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2009-08-15,Everton,Arsenal,1,6,A,0,3,A,...,2.27,2.20,1.73,1.63,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
allseasons.shape

(3800, 77)

In [29]:
allseasons.dtypes

Div                 object
Date        datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG                 int64
HTAG                 int64
HTR                 object
Referee             object
HS                   int64
AS                   int64
HST                  int64
AST                  int64
HF                   int64
AF                   int64
HC                   int64
AC                   int64
HY                   int64
AY                   int64
HR                   int64
AR                   int64
B365H              float64
B365D              float64
B365A              float64
BWH                float64
BWD                float64
BWA                float64
GBH                float64
                 ...
VCH                float64
VCD                float64
VCA                float64
BSH                float64
BSD                float64
BSA                float64
Bb1X2                int64
BbMxH              float64
BbAvH              float64
BbMxD              float64
BbAvD              float64
BbMxA              float64
BbAvA              float64
BbOU                 int64
BbMx>2.5           float64
BbAv>2.5           float64
BbMx<2.5           float64
BbAv<2.5           float64
BbAH               float64
BbAHh              float64
BbMxAHH            float64
BbAvAHH            float64
BbMxAHA            float64
BbAvAHA            float64
PSH                float64
PSD                float64
PSA                float64
PSCH               float64
PSCD               float64
PSCA               float64
Length: 77, dtype: object

In [26]:
type(allseasons)

pandas.core.frame.DataFrame

In [30]:
allseasons.head(n=2)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,E0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,1.28,1.22,4.4,3.99,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,2.58,2.38,1.6,1.54,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
allseasons[]